<% provide(:title, "Edit Profile") %>
    <div class="row">

        <div class="col-sm-3" style="padding:0; border-radius:0;">
          <div class="panel panel-default panel-body">
            <div class="line-bottom profile-font">
            <%= render '/components/user_panel', user: current_user %>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
        <div class="panel panel-body">

      <%= form_for @profile, html: { multipart: true } do |f| %>
      <div class="field form-group">
        <%= f.label :profile_picture %><br>
        <div style="text-align:center">
        <%= image_tag @profile.avatar.url(:medium), style: "max-height: 120px; border-radius:50%;" %>
      </div>
        <div style="padding-top:20px;">
        <%= f.file_field :avatar %>
      </div>
      </div>

      <div class="field form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :occupation %>
        <%= f.text_field :occupation, class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :education %>
        <%= f.text_field :education, class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :hometown %>
        <%= f.text_field :address, class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :occupation_place %>
        <%= f.text_field :occupation_place, class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :about_me %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>

      <%= f.submit "Save changes", class: "btn btn-primary pull-right" %>
      <% end %>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <%= render '/components/recommended_friends', recommended_friends: @recommended_friends %>
      <%= render '/components/about_panel' %>
    </div>
    </div>

  </div>
</div>
