<% provide(:title, "Edit Profile") %>


        <div class="col-sm-3" style="padding:0; border-radius:3px;">

          <div class="list-group">
            <div class="list-group-item" style="background-color:#efefef"> <b>Profile </b></div>
            <%= link_to 'Personal Information', edit_profile_path(current_user.profile), class: "list-group-item active"  %>
            <%= link_to 'Avatar', avatar_profile_path(current_user.profile), class: "list-group-item"  %>
            <%= link_to 'Verification', verification_profile_path(current_user.profile), class: "list-group-item"  %>
            <%= link_to 'Car Information', vehicle_profile_path(current_user.profile), class: "list-group-item"  %>
            <a href="#" class="list-group-item">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item">Vestibulum at eros</a>
          </div>
        </div>

        <div class="col-sm-6 profile-edit-column">
        <div class="panel panel-default">
          <div class="row">
            <div class="col-sm-12 panel-title">
              <h4> My Profile </h4>
            </div>
          </div>
          <div class="panel-body">
      <%= form_for @profile, html: { multipart: true } do |f| %>
      <div class="field form-group row">
        <div class="col-sm-3"><%= f.label :name, style: "line-height:2" %></div>
        <div class="col-sm-9"><%= f.text_field :name, placeholder: "Type your name here",class: 'form-control' %></div>
      </div>
      <br>
      <div class="field form-group row">
        <div class="col-sm-3"><%= f.label :age, style: "line-height:2" %></div>
        <div class="col-sm-3" style='padding: 0 15px 0 15px'><%= f.text_field :age, placeholder: "24", class: 'form-control' %></div>
        <div class="col-sm-6 profile-gender" >
        <%= f.label :gender, "Male", :value => "true"  %>
        <%= f.radio_button :gender, true %>
        <%= f.label :gender, "Female", :value => "false" %>
        <%= f.radio_button :gender, false %></div>
      </div>
      <br>
      <div class="field form-group">
        <div class="col-sm-3"><%= f.label :description, style: "line-height:2" %></div>
        <div class="col-sm-9"><%= f.text_field :description, placeholder: "Short Bio", class: 'form-control' %></div>
      </div>
      <br>
      <hr>
      <div class="field form-group row">
        <div class="col-sm-3"><%= f.label :occupation, style: "line-height:2" %></div>
        <div class="col-sm-9"><%= f.text_field :occupation, placeholder: "Marketing", class: 'form-control' %></div>
      </div>
      <br>
      <div class="field form-group row">
        <div class="col-sm-3"><%= f.label :occupation_place, style: "line-height:2" %></div>
        <div class="col-sm-9"><%= f.text_field :occupation_place, placeholder: "Jakarta", class: 'form-control' %></div>
      </div>
      <hr>
      <div class="field form-group row">
        <div class="col-sm-3"><%= f.label :university, style: "line-height:2" %></div>
        <div class="col-sm-9"><%= f.text_field :university, placeholder: "ITB,UI,Unpad", class: 'form-control' %></div>
      </div>
      <br>
      <div class="field form-group row">
        <div class="col-sm-3"><%= f.label :Major, style: "line-height:2" %></div>
        <div class="col-sm-9"><%= f.text_field :major, placeholder: "Business Administration", class: 'form-control' %></div>
      </div>
      <hr>
      <div style="border:0; box-shadow:none;" class="well well-lg">
      <p> Tell more about yourself, let members know more about your stories! </p>
      <div class="field form-group row">
        <%= f.label :About_me, style: "line-height:2" %>
        <%= f.text_area :about, placeholder: "Tell us more about yourself!", class: 'form-control' %>
      </div>
      </div>
      <br>
      <%= f.submit "Save changes", class: "btn btn-primary pull-right" %>
      <% end %>
      </div>
    </div>
    </div>

    <div class="col-sm-3 col-xs-12">
      <%= render '/components/recommended_friends', recommended_friends: @recommended_friends %>
      <%= render '/components/about_panel' %>
    </div>
