<% provide(:title, "Edit Profile") %>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="col-sm-3" style="padding:0; border-radius:0;">
          <a href="#">
          <div class="panel panel-body profile-hvr" style="border-radius:0;">
              <h5 style=" font-weight: 300;">Update your profile</h5>
          </div>
            </a>
        </div>
        <div class="col-sm-9  panel panel-body">

      <%= form_for @profile, html: { multipart: true } do |f| %>
      <div class="field form-group">
        <%= f.label :profile_picture %><br>
        <%= image_tag @profile.avatar.url(:medium) %>
        <%= f.file_field :avatar %>
      </div>

      <div class="field form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :occupation %>
        <%= f.text_field :occupation, class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :occupation_place %>
        <%= f.text_field :occupation_place, class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :about_me %>
        <%= f.text_field :description, class: 'form-control' %>
      </div>

      <%= f.submit "Save changes", class: "btn btn-primary pull-right" %>
      </div>
    </div>
    </div>
    <% end %>
  </div>
</div>
