<div class="col-sm-3" style="padding:0; border-radius:3px;">
  <div class="list-group">
    <div class="list-group-item" style="background-color:#efefef"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <b>Profile </b></div>
    <%= link_to 'Personal Information', edit_profile_path(current_user.profile), class: "list-group-item"  %>
    <%= link_to 'Avatar', avatar_profile_path(current_user.profile), class: "list-group-item"  %>
    <%= link_to 'Verification', verification_profile_path(current_user.profile), class: "list-group-item"  %>
    <%= link_to 'Car Information', vehicle_profile_path(current_user.profile), class: "list-group-item  active"  %>
  </div>

</div>

<div class="col-sm-6 profile-edit-column">
  <div class="panel panel-default">
      <div class="row">
        <div class="col-sm-12 panel-title">
          <h4> Car Information </h4>
        </div>
      </div>
    <div class="panel-body">
      vehicle
    </div>
  </div>
</div>

<div class="col-sm-3 col-xs-12">
<%= render '/components/about_panel' %>
</div>
