<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  </style>
  <body style="margin: 0; padding: 0;" bgcolor="#e9ebee">

    <table cellpadding="0" cellspacing="0" width="100%" style="font-family:Helvetica, Arial">

      <tr>

       <td>

         <table align="center" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;" bgcolor="white" >


           <tr align="center">

            <td align="center" style="padding: 0 0 0 0; margin-top:-15px">
              <%= image_tag("border-img.png", style:"max-height:3.5px;") %>
              <br><br><br>
             <%= image_tag("Logo_noompang_inverse_small.png", style:"max-height:35px") %>
            </td>
           </tr>

           <tr>
            <td style="padding: 0px 30px 30px 30px;">
              <table cellpadding="0" cellspacing="0" width="100%" >
               <tr>
                <td style="padding-top: 20px; border-bottom:0.5px solid; padding-bottom:20px;border-color:#e6e6e6">
                 <h2 style="color:#1e2f4d;" >Hello <%= @user.username %>,</h2>
                 <b style="color:#2190c1;"><%= @post.user.username %></b> has a new ride offer. Join the ride now!
                </td>
               </tr>

       <table>

       <tr>
         <td>


           <table >
             <tr>
               <td style="padding:0 20px 0 20px">  <%= image_tag @post.user.profile.avatar.url(:thumb) ,style: "border-radius: 50%; max-height:80px"  %>
               </td>

               <td>
                 <table style="border-left:0.5px solid; border-color:#e6e6e6;padding-left:20px">
                   <tr>
                    <td style="padding-top: 10px;">
                      <h3>
                        <% if @post.date === Date.today %>
                        <%= @post.date.strftime("Today, %-d %b") %>
                      <% else %>
                        <%= @post.date.strftime("%A, %-d %b") %>
                      <% end %>
                      - <%= @post.time.strftime("%H:%M")  %></h3>
                    </td>
                   </tr>

                   <tr>
                    <td>
                       <p style="color: #666666"><%= image_tag("from-circle.png", style:"max-height:15px; margin: 0 5px -2px 0") %> <%= @post.from %>
                       <%= image_tag("arrow.png", style:"max-height:6px; margin: 0 10px 3px 10px") %>
                       <%= image_tag("to-circle.png", style:"max-height:15px; margin: 0 5px -2px 0;") %> <%= @post.destination %>
                    </td>
                   </tr>

                   <tr style="padding-top: 10px;">
                     <td>
                     <table style="padding-top: 10px">
                       <tr>
                         <td>
                         <p><b style="font-size:22px"><%= @post.available_seats%></b> seats available out of <%= @post.quantity %></p>
                       </td>
                       <td style="padding-left:15px">
                         <p> IDR <b style="font-size:22px"><%= @post.price %></b> per ride</p>
                       </td>
                       </tr>
                     </table>
                    </td>
                   </tr>

                   <tr>
                    <td style="padding-top: 10px;">
                      <p><%= image_tag("notes.png", style:"max-height:15px; margin: 0 5px -2px 0") %><% if @post.note && @post.note != "" %>
                        <%= @post.note %></p>
                      <% end %>
                    </td>
                   </tr>

                 </table>
               </td>
             </tr>
           </table>
         </td>
       </tr>

       <tr>
        <td style="padding: 20px 30px 30px 0px;border-top:0.5px solid;border-color:#e6e6e6">
          See
              <b><%= @post.user.username %>'s</b>
          other posts at <b><a href="www.noompang.com" style="color:#2190c1; text-decoration:none"> noompang.com </a></b>
        </td>
       </tr>

     </table>
   </table>

     </td>
   </tr>
   <tr>

       <tr align="center">
        <td style="padding: 0px 30px 30px 30px; background-color:#e9ebee">
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td style="font-size:12px; color:#b5bac1; background-color:#e9ebee ; color:#666666; " align="center">
                <br><br>
                Follow Noompang's social media for more information
              </td>
            </tr>
            <br>
            <tr>
               <table align="center" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <br>
                  <br>
                 <td>
                  <a href="https://www.facebook.com/noompangcom">
                    <%= image_tag("explore/facebook.png", style:"max-height:35px;") %>
                    </a>
                 </td>
                 <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                 <td>
                  <a href="https://twitter.com/noompangcom?lang=en">
                    <%= image_tag("explore/twitter.png", style:"max-height:35px;") %>
                  </a>
                 </td>
                 <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                 <td>
                  <a href="https://www.instagram.com/noompangcom/?hl=en"><%= image_tag("explore/instagram.png", style:"max-height:35px;") %></a>
                 </td>
                 <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                 <td>
                  <a href="https://line.me/R/ti/p/@qer6098s"><%= image_tag("explore/line.png", style:"max-height:35px;") %> </a>
                 </td>
                </tr>
               </table>
             </tr>
             <br>
          <tr>
            <td style="font-size:12px; color:#b5bac1; background-color:#e9ebee ; color:#666666; " align="center">
              This email is intended for <%= @user.username %>, because you follow <%= @post.user.username %> account on noompang
            </td>
          </tr>
          <tr>
           <td style="font-size:12px; color:#b5bac1; background-color:#e9ebee ; color:#666666;  " align="center">
             <br>
            © Copyright 2017, Noompang, Inc. All rights reserved.
            <br><br>
          </td>
         </tr>
            <br><br>
          </table>
        </td>
       </tr>
          <br><br>
         </table>
       </td>
      </tr>
     </table>
  </body>
</html>
