<div class="panel panel-default">
  <div class="row">
    <div class="col-sm-12 panel-title">
      <h4> Overview </h4>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <p>
        <% if @profile.age? %>
        <img src="/images/gender.png" style="max-height:15px; margin:-6px 3px 0 0"> <%= @profile.age %>,
        <%end%>
        <% if @profile.gender? %>
          Male</p>
          <% else %>
          Female</p>
          <%end %>
          <p style="margin-top:10px;"> <img src="/images/login.png" style="max-height:15px;margin:-4px 3px 0 0">
            <%if @profile.user.last_sign_in_at? %>
            Last log in <b>
              <%= @profile.user.last_sign_in_at.strftime("%-d %b") %></b>
            <%else%>
            Has not log in
            <%end%>
          </p>
          <p style="margin-top:10px; margin-bottom:10px">
          <img src="/images/member.png" style="max-height:15px; margin:-4px 3px 0 0"> Member since <b><%= @profile.user.created_at.strftime("%-d %b") %></b></p>

      </div>
      <div class="col-sm-6">
        <% if @profile.major? %>
        <p><img src="/images/major.png" style="max-height:15px; margin:-6px 3px 0 -2px">  Major in <b><%= @profile.major %></b></p>
        <%end%>

          <%if @profile.university? %>
          <p style="margin-top:10px"><img src="/images/university.png" style="max-height:15px; margin:-6px 3px 0 0">
          University <b><%= @profile.university %></b></p>
          <p style="margin-top:10px">
          <%end%>

      </div>
    </div>
  </div>
</div>

<% if @profile.about? %>
<div class="panel panel-default">
  <div class="row">
    <div class="col-sm-12 panel-title">
      <h4> About Me </h4>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <p><%= @profile.about %></p>
      </div>
    </div>
  </div>
</div>

<% end %>
