<div class="panel panel-default">
  <div class="row">
    <div class="col-sm-12 panel-title">
      <h4> Overview </h4>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6">
        <% if @profile.address? %>
        <p>Hometown <b><%= @profile.address %></b></p>
        <p style="margin-top:10px">
        <% end %>
        <p>
        <%= @profile.age %>,
        <% if @profile.gender? %>
          Male</p>
          <% else %>
          Female</p>
          <%end %>
          <p style="margin-top:10px">Last log in <b><%= @profile.user.last_sign_in_at.strftime("%A, %-d %b") %></b></p>

      </div>
      <div class="col-xs-6">
        <% if @profile.major? %>
        <p>Major in <b><%= @profile.major %></b></p>
        <%end%>

          <%if @profile.university? %>
          <p style="margin-top:10px">
          University <b><%= @profile.university %></b></p>
          <p style="margin-top:10px">
          <%end%>
          <p>
          Member since <b><%= @profile.user.created_at.strftime("%A, %-d %b") %></b></p>
      </div>
    </div>
  </div>
</div>
