<% for post in posts %>
  <div class="panel panel-default post-panel ride-hover-master" id="post-panel">
    <div class="ride-hover">
    <div class="panel-body row">
      <div class="col-xs-2 col-md-1" style="padding-top:10px;">
        <%= image_tag post.user.profile.avatar.url(:thumb), class: "avatar avatar-post img-rounded" %>
      </div>
      <div class="col-xs-10 col-md-11 col">
        <p class="post-title"><span class="post-owner"><%= link_to post.user.username, user_profile_path(post.user.username) %></span><span class="post-creation"> <%= time_ago_in_words(post.created_at) %></span></p>
        <p class="post-date"><span class="post-date-time">
          <% if post.date === Date.today %>
            <%= post.date.strftime("Today, %-d %b") %>
          <% else %>
            <%= post.date.strftime("%A, %-d %b") %>
          <% end %>
          - <%= post.time.strftime("%H:%M")  %>
        </span></p>
        <p class="post-content">
          <span class="post-destination">
            <img src="/images/from-circle.png" style="max-height:12px; margin-top:-3px;" data-toggle="tooltip" data-placement="top" title="Pick-up">
            <%= post.from %>
            <img src="/images/arrow.png" style="max-height:6px;">
            <img src="/images/to-circle.png" style="max-height:12px; margin-top:-3px;" data-toggle="tooltip" data-placement="bottom" title="Drop-off">
            <%= post.destination %>
          </span>
        </p>
        <p style="font-weight:400; padding-left:10px;">Available Seats: <%= post.available_seats %> out of <%= post.quantity %></p>
        <p style="font-weight:400; padding-left:10px;">Price / person: <%= post.price %></p>
        <% if post.note && post.note != "" %>
          <p style="font-weight:400; padding-left:10px;"><%= post.note %></p>
        <% end %>
        <% if post.user != current_user %>
          <% if !post.reserved_by_user?(current_user.id) %>
            <%= form_for DirectBooking.new, url: direct_bookings_path do |f| %>
              <%= f.hidden_field :user_id, value: current_user.id %></td>
              <%= f.hidden_field :driver_post_id, value: post.id %></td>
              <%= submit_tag "Join" %>
            <% end %>
          <% else %>
            <% case post.get_reserve_status_by_user(current_user.id)
            when 0 %> Status: Waiting for driver's approval
            <% when 1 %> Status: Join request accepted!
            <% end %>
            <br>
          <% end %>
        <% end %>
        <% if post.user == current_user %>
          <span class="post-icon pull-right">
            <%= link_to post, method: :delete do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <!--<div class="panel-footer" style="height: 40px;" >  row for comments
    <div class="col-xs-2">
      <p>avatar</p>
    </div>
    <div class="col-xs-8">
      <p>comment section</p>
    </div>
    <div class="col-xs-2">
      <p>submit</p>
    </div>
  </div> -->
</div>
<% end %>
