<div class="panel panel-default">
  <div class="row">
    <div class="col-sm-12 panel-title">
      <h4> Join Request </h4>
    </div>
  </div>
  <div class="panel-body">
<% if !join_requests.empty? %>
<% for request in join_requests %>
<div class="row">
<div class="col-xs-2">
<%= image_tag request.user.profile.avatar.url(:thumb), class: "avatar-find img-rounded", style: "border-radius:50%;" %>
<%= request.user.username %>
</div>

<div class="col-xs-10">

<p class="post-date"><span class="post-date-time">
  <% if request.driver_post.date === Date.today %>
    <%= request.driver_post.date.strftime("Today, %-d %b") %>
  <% else %>
    <%= request.driver_post.date.strftime("%A, %-d %b") %>
  <% end %>
  - <%= request.driver_post.time.strftime("%H:%M")  %>
</span></p>
<p class="post-content">
  <span class="post-destination">
    <img src="/images/from-circle.png" style="max-height:12px; margin-top:-3px;" data-toggle="tooltip" data-placement="top" title="Pick-up">
    <%= request.driver_post.from %>
    <img src="/images/arrow.png" style="max-height:6px;">
    <img src="/images/to-circle.png" style="max-height:12px; margin-top:-3px;" data-toggle="tooltip" data-placement="bottom" title="Drop-off">
    <%= request.driver_post.destination %>
  </span>
</p>
<% if request.driver_post.note.present? %>
  <p style="font-weight:400; padding-left:10px;"><img src="/images/notes.png" style="max-height:15px; margin-top:-3px;"> <%= request.driver_post.note %></p>
<% end %>
<br>
<div class="col-xs-12"><ul>
<li style="display:inline-block"><%= button_to "Accept" , accept_direct_booking_path(request.id), method: :get, class: "btn btn-success btn-xs", style: "padding-left:16px; padding-right:15px;"%></li>
<li style="display:inline-block">
<%= button_to "Reject" , reject_direct_booking_path(request.id), method: :get, class: "btn btn-danger btn-xs", style: "padding-left:16px; padding-right:15px;"%></li></ul>
</div>
</div>

</div>
<hr>


<% end %>
<% else %>
<p> There's no join request </p>
<% end %>
</div>
</div>
