<div class="panel panel-default">
  <div class="row">
    <div class="col-sm-12 panel-title">
      <h4> Join Request </h4>
    </div>
  </div>

<% if !join_requests.empty? %>
<% for request in join_requests %>
<div class="panel-body">
  <div class="row" style="padding-left:10px;">
    <div class="col-xs-12 lbbg" id="post-image-avatar" style="padding:12px 0 12px 10px">
      <p><%= image_tag request.user.profile.avatar.url(:thumb), class: "avatar-find img-rounded avatar-post mmli", style: "border-radius:50%; max-height:30px;margin-right:10px;" %>
      <b><%= request.user.username %> </b>wants to join your ride</p>
    </div>

    <div class="col-xs-12" style="margin-top:8px">
      <p><b> Your ride details: </b></p>
    </div>

    <div class="col-xs-4">
      <p style="padding:10px 0 2px 0;">
        <img src="/images/time.png" style="max-height:13px; margin-top:-4px;">
          Time
      </p>
      <p style="font-size:14px;padding-bottom:4px">
        <%= request.driver_post.time.strftime("%H:%M")  %>
      </p>
      <p>
        <% if request.driver_post.date === Date.today %>
          <%= request.driver_post.date.strftime("Today, %-d %b") %>
        <% else %>
          <%= request.driver_post.date.strftime("%A, %-d %b") %>
        <% end %>
      </p>
    </div>

    <div class="col-xs-4" style="border-left:0.5px solid;border-color:#e3e3e3">
      <p style="padding:10px 0 2px 0;"><img src="/images/from-circle.png" style="max-height:12px; margin-top:-3px;" data-toggle="tooltip" data-placement="top" title="Pick-up"> From </p>
      <p style="font-size:14px"><%= request.driver_post.from %></p>
      <br>
    </div>

      <div class="col-xs-4" style="border-left:0.5px solid;border-color:#e3e3e3">
        <p style="padding:10px 0 2px 0;"><img src="/images/to-circle.png" style="max-height:12px; margin-top:-3px;" data-toggle="tooltip" data-placement="bottom" title="Drop-off">  To </p>
        <p style="font-size:14px"><%= request.driver_post.destination %></p>
        <br>
        </div>

        <div class="col-xs-12">
            <% if request.driver_post.note.present? %>
              <hr>
              <p style="padding-bottom:4px;"> Ride Notes: </p>
              <p> <%= request.driver_post.note %></p>
            <% end %>
          </div>
        <div class="col-xs-6">
          <p><b style="font-size:14px"><%= request.driver_post.available_seats%></b> seats available out of <%= request.driver_post.quantity %></p>
        </div>
        <div class="col-xs-6">
          <p><b style="font-size:14px"><%= request.driver_post.price %></b> per seat</p>
        </div>


        <div class="col-xs-12" style="text-align:right">
          <br>
          <ul>
            <li style="display:inline-block;">
              <%= button_to "Accept" , accept_direct_booking_path(request.id), method: :get, class: "btn-accept", style: "padding-left:16px; padding-right:15px;"%>
            </li>
            <li style="display:inline-block">
              <%= button_to "Reject" , reject_direct_booking_path(request.id), method: :get, class: "btn-inverse", style: "padding-left:16px; padding-right:15px;"%>
            </li>
          </ul>
        </div>
      </div>
    </div>
<hr>
<% end %>
<% else %>
<div class="panel-body">
<p> There's no join request </p>
</div>
<% end %>

</div>
