<%= form_for(@newPost) do |f| %>
  <div class="panel panel-default">
    <div class="panel-body row">
      <div class="col-xs-6">
        <%= f.label :destination %>
        <div class="field form-group">
          <%= f.text_field :from, placeholder:"From", autofocus: true, class: "form-control" %>
        </div>
        <div class="field form-group">
          <%= f.text_field :destination, placeholder:"To", class: "form-control" %>
        </div>
        <div class="field form-group">
          <%= f.text_field :note, placeholder:"Notes", class: "form-control" %>
        </div>
      </div>
      <div class="col-xs-6">
        <%= f.label :date_and_time %>
        <div class="field form-group">
          <%= f.date_select :date %>
        </div>
        <div class="field form-group">
          <%= f.time_select :time %>
        </div>
        <div class="actions">
          <%= f.submit "Create Ride", class: "btn-form", style: "font-weight:300; font-size:13px; width:80%; height:35px;"%>
        </div>
      </div>
    </div>
  </div>
<% end %>
