
  <div class="panel-body">
    <div class="row ">
      <% if !profile.is_nil? && !profile.is_empty? %>
      <p style="font-weight:500"> About </p>

        <p class="p-content" style="margin-top:10px"> My name is <a><%= profile.name %></a></p>
        <p class="p-content" style="margin-top:10px"> Work in <a><%= profile.occupation %></a></p>
        <p class="p-content" style="margin-top:10px"> From<a> <%= profile.occupation_place %></a></p>

      <% elsif user.id == current_user.id %>
        <p class="post-content"><%= link_to 'Update your profile', edit_profile_path(profile) %></p>
      <% else %>
        <p class="post-content"><%= user.username %> has no profile yet!</p>
      <% end %>
    </div>
  </div>
