<div class="panel panel-default">

  <div class="row">
    <div class="col-sm-12 panel-title">
      <% if user.id == current_user.id %><h4> My Profile      <small>
              <%= link_to 'Edit profile', edit_profile_path(profile) %> </small></h4>
            <% else%>
            <h4><%= user.username %>'s Profile</h4>
            <%end %>
    </div>
  </div>
  <div class="panel-body">
    <div class="row ">
      <div class="col-sm-12">
        <!-- value for progress bar -->
      <% if !profile.is_nil? && !profile.is_empty? %>
        <% if profile.name? %>
          <p> My name is <a><%= profile.name %></a></p>
          <%else %>
          <%end%>

          <% if profile.occupation? %>
          <p style="margin-top:10px"> Work in <a><%= profile.occupation %></a></p>
          <%else %>
          <%end%>

          <% if profile.occupation_place? %>
          <p style="margin-top:10px"> From<a> <%= profile.occupation_place %></a></p>
          <%else %>
          <%end%>

      <% elsif user.id == current_user.id%>
        <p class="post-content"><%= link_to 'Your profile is empty. Update your profile now', edit_profile_path(profile) %></p>
      <% else %>
        <p class="post-content"><%= user.username %> has no profile yet!</p>
      <% end %>
      </div>
    </div>
  </div>
</div>
