<% if not recommended_friends.empty? %>
  <div class="panel panel-default">
    <div class="row">
      <div class="col-sm-12 panel-title">
        <h4> Recommended Friends </h4>
      </div>
    </div>
    <div class="panel-body">
        <% for friend in recommended_friends %>

          <div class="row">
            <div class="col-xs-2 recommended-avatar">
              <%= image_tag friend.profile.avatar.url(:thumb), class: "avatar-recommended img-rounded", style: "border-radius:50%;" %>
            </div>
            <div class="col-xs-10">
              <span class="recommended-title" >
                <a href="/user/<%= friend.username %>">
                <%= friend.username  %> <br>
                </a>
                <%= friend.friends.count %> friends
              </span>

              <span class="recommended-title" style="float:right;"><%= render '/components/add_friend_button', user: friend %></span>
            </div>

          </div>
            <hr>
        <% end %>
    </div>
  </div>
<% end %>
