<% for post in posts %>
  <div class="panel panel-default post-panel">
    <div class="panel-body row">
      <% if post.original != nil %>
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
          <span class="post-content"><span class="post-reposter"><span class="glyphicon glyphicon-retweet"></span> reposted by <%= post.user.username %></span></span>
        </div>
        <br>
      <% end %>
      <div class="col-sm-1">
        <% if post.original != nil %>
          <%= image_tag post.original.user.profile.avatar.url(:thumb), class: "avatar avatar-post img-rounded" %>
        <% else %>
          <%= image_tag post.user.profile.avatar.url(:thumb), class: "avatar avatar-post img-rounded" %>
        <% end %>
      </div>
      <div class="col-sm-11">

        <% if post.original != nil %>
          <p class="post-title"><span class="post-owner"><%= link_to post.original.user.username, user_profile_path(post.original.user.username) %></span><span class="post-creation"> - <%= time_ago_in_words(post.created_at) %></span></p>
        <% else %>
          <p class="post-title"><span class="post-owner"><%= link_to post.user.username, user_profile_path(post.user.username) %></span><span class="post-creation"> - <%= time_ago_in_words(post.created_at) %></span></p>
        <% end %>

        <p class="post-content"><span class="post-date-time">
          <% if post.date === Date.today %>
            <%= post.date.strftime("Today, %-d %b") %>
          <% else %>
            <%= post.date.strftime("%A, %-d %b") %>
          <% end %>
          - <%= post.time.strftime("%H:%M")  %>
        </span></p>
        <p class="post-content"><span class="post-destination"><%= post.from %> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> <%= post.destination %></span></p>
        <% if post.note && post.note != "" %>
          <span class="post-content"><%= post.note %></span>
        <% end %>
        <% if post.user != current_user && post.original == nil && !post.reposts.find_by_user_id(current_user.id) %>
          <span class="post-title pull-right">
            <%= link_to repost_post_path(post), method: :post do %>
              <span class="glyphicon glyphicon-retweet"></span>
            <% end %>
          </span>
        <% end %>
        <% if post.user == current_user %>
          <span class="post-title pull-right">
            <%= link_to post, method: :delete do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
