<%if !posts.empty? %>
<% for post in posts %>
  <div class="panel panel-default post-panel ride-hover-master" id="post-panel">
    <div class="ride-hover">
    <div class="panel-body row">
      <div class="col-xs-2 col-md-1" style="padding-top:10px;">
        <% if post.original != nil %>
          <%= image_tag post.original.user.profile.avatar.url(:thumb), class: "avatar avatar-post img-rounded" %>
        <% else %>
          <%= image_tag post.user.profile.avatar.url(:thumb), class: "avatar avatar-post img-rounded" %>
        <% end %>
      </div>
      <div class="col-xs-10 col-md-11 col">

        <% if post.original != nil %>
          <p class="post-title"><span class="post-owner"><%= link_to post.original.user.username, user_profile_path(post.original.user.username) %></span></p> <span class="post-creation"> <%= time_ago_in_words(post.created_at) %></span>
        <% else %>
          <p class="post-title"><span class="post-owner"><%= link_to post.user.username, user_profile_path(post.user.username) %></span><span class="post-creation"> <%= time_ago_in_words(post.created_at) %></span></p>
        <% end %>

        <p class="post-date"><span class="post-date-time">
          <% if post.date === Date.today %>
            <%= post.date.strftime("Today, %-d %b") %>
          <% else %>
            <%= post.date.strftime("%A, %-d %b") %>
          <% end %>
          - <%= post.time.strftime("%H:%M")  %>
        </span></p>
        <p class="post-content">
          <span class="post-destination">

              <img src="/images/from-circle.png" style="max-height:12px; margin-top:-3px;" data-toggle="tooltip" data-placement="top" title="Pick-up">
              <%= post.from %>
              <img src="/images/arrow.png" style="max-height:6px;">
            <img src="/images/to-circle.png" style="max-height:12px; margin-top:-3px;" data-toggle="tooltip" data-placement="bottom" title="Drop-off">
            <%= post.destination %></span>
        </p>
        <% if post.note && post.note != "" %>
          <p style="font-weight:400; padding-left:10px;"><img src="/images/notes.png" style="max-height:15px; margin-top:-3px;"> <%= post.note %></p>
        <% end %>

        <% if !post.reserved? %>
          <% if post.user != current_user %>
            <%= form_for DriverPost.new, url: driver_posts_with_indirect_booking_path do |f| %>
              <%= f.hidden_field :from, value: post.from %>
              <%= f.hidden_field :destination, value: post.destination %>
              <%= f.hidden_field :date, value: post.date %>
              <%= f.hidden_field :time, value: post.time %>
              <%= f.hidden_field :post_id, value: post.id %>
              <%= f.hidden_field :user_id, value: post.user.id %>
              <div class="btn btn-xs btn-primary" style="float:right" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=post.id.to_s%>" aria-expanded="false" aria-controls="collapse<%=post.id.to_s%>">Pick Up</div>



              <div id="collapse<%=post.id.to_s%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <br><hr>
              <!-- boundaries -->
              <div class="col-sm-6">
              <img src="/images/seats.png" style="max-height:15px; margin-top:-4px;">

              <%= f.label :number_of_seats %>
                <div class="field form-group">
                  Available seats <%= f.select :quantity, 1..5 %>
                </div>
              </div>
              <div class="col-sm-6">
                <img src="/images/price.png" style="max-height:15px; margin-top:-4px;">
                <%= f.label :passenger_contribution %>
                <div class="field form-group">
                  <%= f.text_field :price, placeholder: "Example: 20000", class: "form-control", style: "font-size: 12px"  %>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="field form-group">
                  <img src="/images/notes.png" style="max-height:15px; margin-top:-4px;">
                  <%= f.label :Ride_details %>
                  <br>
                  <%= f.text_area :note, placeholder:"Example: Saya mau ke Jakarta nih karena ada acara, Kalau mau ikut klik join aja ya, nanti saya kontak via message atau saya japri", class: "form-control", style: "font-size: 12px"  %> <br>
                  <p> Your offer will be adjusted based on current ride request </p>
                </div>
              </div>
              <div class="col-sm-6 col-sm-offset-6">
                <div class="actions">
                  <%= submit_tag "Pick Up and Create Ride" ,class: "btn btn-success btn-xs", style: "float:right" %>
                </div>
              </div>
              <!-- boundaries -->
            </div>




            <% end %>
          <% end %>
        <% else %>
          <% if post.pending? %><br><div class="alert alert-danger" style="padding: 5px 0px 5px 10px;">
            This ride has been temporarily reserved by <%= post.get_reserver %></div>
          <% else %>
            <br>
            <div class="alert alert-success" style="padding: 5px 0px 5px 10px;">This ride has been successfuly reserved by <%= post.get_reserver %></div>
          <% end %>
        <% end %>



        <% if post.user == current_user %>
          <span class="post-icon pull-right">
            <%= link_to post, method: :delete do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <!--<div class="panel-footer" style="height: 40px;" >  row for comments
    <div class="col-xs-2">
      <p>avatar</p>
    </div>
    <div class="col-xs-8">
      <p>comment section</p>
    </div>
    <div class="col-xs-2">
      <p>submit</p>
    </div>
  </div> -->
</div>
<% end %>
<% else %>
<div style="text-align:center">
<h3>No Request Ride</h3>
<p> Find your friends or invite your friends to Noompang to find Passanger </p>
<br>
</div>
 <%end%>
