<%= form_for(:user, url: registration_path(:user)) do |f| %>
  <div class="field form-group">
    <%= f.text_field :username, autofocus: true,  placeholder: "Username" %>
  </div>

  <div class="field form-group">
    <%= f.email_field :email, placeholder: "Email"%>
  </div>

  <div class="field form-group">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, placeholder: "Password", autocomplete: "off" %>
  </div>

  <div class="field form-group">
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-secondary" %>
  </div>
<% end %>﻿
