<div class="row">
  <div class="col-sm-6 col-sm-offset-3" id="friends-of">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4 style="text-align:center; font-weight: 400;">Friends of <%= @user.username %> </h4>
        <% if !@friends.empty? %>
          <% for @u in @friends %>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <div class="col-xs-3 float-right" style="text-align:center;">
                <%= image_tag @u.profile.avatar.url(:thumb), class: "avatar-find img-rounded", style: "width: 45px; border-radius:50%;"%>
              </div>
              <div class="col-xs-6">
                <div class="row">
                <p style="font-size:120%"><a href="/user/<%= @u.username %>"><%= @u.username %></a></p>
                </div>
                <div class="row">
                <p style="font-size: 100%; font-weight: 300;"><%= @u.friends.count %> friends </p>
                </div>
              </div>
              <div class="col-xs-3"
              <span class="pull-right" id="friend-status"><%= render '/components/add_friend_button', :user => @u %></span>
            </div>
          </div>
            </div>
          <% end %>
        <% else %>
          <p>User not found</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-xs-12">
    <%= render '/components/recommended_friends', recommended_friends: @recommended_friends %>
    <%= render '/components/about_panel' %>
  </div>
</div>
