<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4 style="text-align:center; font-weight: 400;">New Conversation</h4>
        <hr>
        <%= form_tag conversations_path, method: :post do %>
          <div class="field form-group">
            <%= select_tag :user_id, options_from_collection_for_select(@recipients, :id, :username), class: "form-control" %>
          </div>
          <div class="field form-group">
            <%= text_field_tag :subject, nil, placeholder: "Subject", class: "form-control" %>
          </div>
          <div class="field form-group">
            <%= text_area_tag :body, nil, placeholder: "Message", class: "form-control" %>
          </div>
          <div class="actions">
            <%= submit_tag "Send", class: "btn btn-primary pull-right" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
