<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1><%= @conversation.subject %></h1>

        <% @conversation.receipts_for(current_user).each do |receipt| %>
          <div>
            <p><span class="post-owner"><%= receipt.message.sender.username %></span></p>
            <p><%= receipt.message.body %></p>
          </div>
        <% end %>

        <%= form_tag conversation_messages_path(@conversation), method: :post do %>
          <div class="field form-group">
            <%= text_area_tag :body %>
          </div>
          <div class="actions">
            <%= submit_tag "Send", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
