<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4 style="text-align:center; font-weight: 400;"><%= @conversation.subject %></h4>
        <hr>

        <% @conversation.receipts_for(current_user).each do |receipt| %>
          <div>
            <% if receipt.message.sender == current_user %>
                <p><span class="post-owner">You:</span> <%= receipt.message.body %></p>
            <% else %>
                <p><span class="post-owner"><%= receipt.message.sender.username %>:</span> <%= receipt.message.body %></p>
            <% end %>
          </div>
        <% end %>

        <%= form_tag conversation_messages_path(@conversation), method: :post do %>
          <div class="field form-group">
            <%= text_area_tag :body, nil, placeholder: "Message", class: "form-control" %>
          </div>
          <div class="actions">
            <%= submit_tag "Send", class: "btn btn-primary pull-right" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
