<div class="row">
  <div class="col-sm-3" id="left-panels">
      <%= render '/components/my_user_panel', user: current_user %>
      <%= render '/components/profile_panel', profile: @profile, user: current_user %>

  </div>
  <div class="col-sm-6 timeline-column">
    <ul class="post-tab-ul panel panel-default">
      <%= link_to home_path do %>
      <li class="post-tab-li" id="tab1" style="border-radius:3px 0 0 3px"> Ride Offers </li>
      <% end %>
      <%= link_to home_ride_requests_path do %>
      <li class="post-tab-li" id="tab2"> Ride Request </li>
      <% end %>
      <%= link_to active_rides_path do %>
      <li class="post-tab-li post-tab-slider" id="tab3" style="border-radius:0 3px 3px 0"> My Active Rides </li>
      <% end %>
    </ul>

      <br>
      <%= render '/components/rider_posts_panel', rider_posts: @rider_posts %>
      <br>
      <%= render '/components/driver_posts_panel', driver_posts: @driver_posts %>

  </div>
  <div class="col-sm-3">
    <%= render '/components/about_panel' %>
  </div>
</div>
