<div class="row">
  <div class="col-sm-3" id="left-panels">
    <div class="panel panel-default panel-body">
      <div class="line-bottom profile-font">
      <%= render '/components/user_panel', user: current_user %>
      </div>
    </div>
      <div class="panel panel-default panel-body">
        <%= render '/components/profile_panel', profile: @profile, user: current_user %>
    </div>
  </div>
  <div class="col-sm-6 ">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4 style="text-align:center; font-weight: 400;">Notifications</h4>
        <% if !@requests.empty? %>
          <% for @r in @requests %>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-3 col-xs-3 col-md-3 col-xl-3 float-right" style="text-align:center;">
                <%= image_tag @r.profile.avatar.url(:thumb), class: "avatar-find img-rounded", style: "border-radius:50%;" %>
              </div>
              <div class="col-sm-6">
                <div class="row">
                <p style="font-size:120%"><a href="/user/<%= @r.username %>"><%= @r.username %></a></p>
                </div>
                <div class="row">
                  <p style="font-size: 100%; font-weight: 300;"><%= @r.friends.count %> friends </p>
                  </div>
                </div>
              <div style="padding-top:15px;" class="col-sm-3 col-xs-3 col-md-3 col-xl-3">
                <span class="pull-right"><%= link_to "Accept", accept_friend_path(@r.id), class: "btn btn-primary btn-xs" ,style: "padding-left: 15px; padding-right:15px;" %>
                </span>
              </div>
            </div>
            </div>
          <% end %>
        <% else %>
          <hr>
          <p>There's no friend request yet!</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <%= render '/components/recommended_friends', recommended_friends: @recommended_friends %>
    <%= render '/components/about_panel' %>
  </div>
</div>
