<div class="row">
  <div class="col-sm-3 col-xs-12" id="left-panels">
    <div class="panel panel-default panel-body">
      <div class="line-bottom profile-font">
      <%= render '/components/user_panel', user: current_user %>
      </div>
    </div>
      <div class="panel panel-default panel-body">
        <%= render '/components/profile_panel', profile: @profile, user: current_user %>
    </div>
  </div>

  <div class="col-sm-6 col-xs-12 timeline-column">
    <%= render '/components/post_tab' %>
    <br>
    <%= render '/components/post_form' %>
    <br>
    <div class="my-posts">
      <%= render '/components/driver_posts', posts: @posts %>
    </div>
    <div class="infinite-scrolling">
      <%= will_paginate @posts %>
    </div>
  </div>
  <div class="col-sm-3 col-xs-12">
    <% flash.each do |key, value| %>
      <div style="border-radius:0;"class="alert alert-success alert-<%= key %> alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= value %></div>
    <% end %>
    <%= render '/components/recommended_friends', recommended_friends: @recommended_friends %>
    <%= render '/components/about_panel' %>
  </div>
</div>
