<div class="row">
  <div class="col-sm-3 col-xs-12">
    <%= render '/components/user_panel', user: current_user %>
    <%= render '/components/profile_panel', profile: @profile, user: current_user %>
  </div>
  <div class="col-sm-6 col-xs-12">
    <%= render '/components/post_form' %>
    <br>
    <div class="my-posts">
      <%= render '/components/rides', posts: @posts %>
    </div>
    <div class="infinite-scrolling">
      <%= will_paginate @posts %>
    </div>
  </div>
  <div class="col-sm-3 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="post-owner">About</p>
        <p>Noompang.com merupakan wadah untuk para pengemudi dan penumpang untuk berbagi kendaraan. Noompang akan membantu Anda dalam mencari teman agar perjalanan Anda lebih efektif, hemat biaya, dan menyenangkan</p>
        <p>Like facebook page kami di facebook.com/noompangcom</p>
        <p>Follow Official Line account kami di bit.ly/NoompangLine</p>
      </div>
    </div>
  </div>
</div>
