<div class="row">
  <div class="col-sm-3 col-xs-12" id="left-panels">
      <%= render '/components/my_user_panel', user: current_user %>
      <%= render '/components/profile_panel', profile: @profile, user: current_user %>
  </div>

  <div class="col-sm-6 col-xs-12 timeline-column">
    <ul class="post-tab-ul panel panel-default">
      <%= link_to home_path do %>
      <li class="post-tab-li" id="tab1" style="border-radius:3px 0 0 3px"> Ride Offers </li>
      <% end %>
      <%= link_to home_ride_requests_path do %>
      <li class="post-tab-li post-tab-slider" id="tab2"> Ride Request </li>
      <% end %>
      <%= link_to active_rides_path do %>
      <li class="post-tab-li" id="tab3" style="border-radius:0 3px 3px 0"> My Active Rides </li>
      <% end %>
    </ul>
    <br>
    <%= render '/components/post_form' %>
    <br>
    <div class="my-posts">
      <%= render '/components/rides', posts: @posts %>
    </div>
    <div class="infinite-scrolling">
      <%= will_paginate @posts %>
    </div>
  </div>
  <div class="col-sm-3 col-xs-12">
    <% flash.each do |key, value| %>
      <div style="border-radius:0;"class="alert alert-success alert-<%= key %> alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= value %></div>
    <% end %>
    <%= render '/components/recommended_friends', recommended_friends: @recommended_friends %>
    <%= render '/components/about_panel' %>
  </div>
</div>
