  <% if !user_signed_in? %>
  <!-- CSS $ javascript edited in this components-->
  <!--  1. navbar-index
        2. sign-in-form
        3. sign-up-form
      -->
    <body class="bg-home">
      <div class="navbar navbar-index navbar-default navbar-index-default navbar-index navbar-fixed-top">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle navbar-index-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <div style="margin-top:5px;">
            <a href=""><img class="logo-small" src="images/logos/noompanglogo50px.png"></img></a>
          </div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling-->
          <div class="collapse navbar-collapse navbar-index-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-index-nav navbar-right" style="color: blue">
              <li><a href="explore">Explore</a></li>
              <li><a href="#">About</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </div>

        <div class="container">
          <div class="header" id="form-section" style="display:none;">
            <% flash.each do |key, value| %>
              <div style="border-radius:0;"class="alert alert-info alert-<%= key %>"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= value %></div>
            <% end %>
              <div class="row">
                <div class="content-title">
                  <h2> Creating community in mutualism atmosphere. </h2>
                </div>
                <div class="content-text">
                  <p>Berbagi kendaraan biar makin gampang!</p>
                </div>
              </div>
          </div>
        </div>


              <!-- divide 2, pics and form outside container-->
              <!-- new row for phone pic and form-->
              <!-- section form -->
              <section class="form-section">
                <div class="col-lg-5 col-lg-push-7" id="user-form">
                  <h1 style=""> Join the network now</h1>
                  <h3 style="margin-top:-5px;"> Create new account. </h3>
                    <div class="sign-up-form" id="sign-up-form" style="text-align:left">
                      <%= render '/devise/registrations/new_index'%>
                      <h4> Already have an account? <a id="switch-signup"> Click here</a></h4>
                    </div>

                    <div class="sign-in-form" id="sign-in-form" style=" text-align:left; display:none">
                      <%= render '/devise/sessions/new_index'%>
                      <h4> Don't have an account? <a id="switch-signin">Join here </a></h4>
                    </div>
                </div>
                <div class="col-lg-7 col-lg-pull-5" >
                  <img class="homephone" src="images/homephone.png"/>
                </div>
              </section>

              <!-- section fotter -->
              <section class="footer-section">
                <div class="container">
                  <div class="row info-footer">
                    <!-- links -->
                    <div class="col-sm-9">
                      <ul style="padding:0;">
                        <li><a href="#"> About </a></li>
                        <li><a href="#"> Blog </a></li>
                        <li><a href="#"> How it Works </a></li>
                        <li><a href="#"> FAQ </a></li>
                        <li><a href="#"> Help </a></li>
                        <li><a href="#"> Legal </a></li>
                      </ul>
                    </div>
                    <!-- social media -->
                    <div class="col-sm-3 media-social">
                      <p class="margin-bottom"> Connect with Noompang </p>
                      <ul>
                      <li> <img style="max-height:35px;"src="images/explore/facebook.png"/> </li>
                      <li> <img style="max-height:35px;"src="images/explore/twitter.png"/> </li>
                      <li> <img style="max-height:35px;"src="images/explore/instagram.png"/> </li>
                      <%= link_to 'https://line.me/R/ti/p/@qer6098s' do %>
                      <li> <img style="max-height:35px;"src="images/explore/line.png"/> </li>
                        <% end %>
                    </div>
                  </div>
                  <div class="row copyright">
                    <p style="padding-left:0"> © Copyright 2017, Noompang, Inc. All rights reserved. </p>
                    </div>
              </section>


    </body>

  <% else %>
    <script>document.location = "/home"</script>

  <% end %>
