<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      <%= @username %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>profile</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <% if current_user.id == User.find_by_username(params[:id]) %>
      <%= render '/components/post_form' %><br><br>
    <% end %>
    <% for @p in @posts %>
      <div class="panel panel-default post-panel">
        <div class="panel-body row">
          <div class="col-sm-1">
            <img src="/avatar.jpg" height="40px" width="40px">
          </div>
          <div class="col-sm-11">
            <p class="post-title"><span class="post-owner"><%= User.find(@p.user_id).username %></span><span class="post-creation"> - <%= @p.created_at.to_formatted_s(:short) %></span></p>
            <p class="post-content"><%= @p.content %></p>
          </div>
          <div class="col-sm-12">
            <p class="post-links">Links</p>
          </div>
          
        </div>
      </div>
    <% end %>
    
  </div>
  <div class="col-xs-3">
    <%= render '/components/follow_button', :user => User.find_by_username(params[:id]) %>
    <div class="panel panel-default">
      <div class="panel-body">
        <p>trends</p>
      </div>
    </div>
  </div>
</div>
