
<div class="row">
  <div class="col-sm-3">
      <%= render '/components/user_panel', user: @user %>
      <%= render '/components/profile_panel', profile: @profile, user: @user %>
  </div>


  <div class="col-sm-6 profile-column" id="about-user-panel">
    <ul class="post-tab-profile-ul">
      <%= link_to user_profile_path do %>
      <li class="post-tab-profile-li  post-tab-profile-slider" id="tab1" style="border-radius:3px 0 0 3px"> About </li>
      <% end %>
      <%= link_to user_rides_path do %>
      <li class="post-tab-profile-li" id="tab2"> Rides</li>
      <% end %>
      <%= link_to see_friends_path do %>
      <li class="post-tab-profile-li" id="tab3" style="border-radius:0 3px 3px 0"> Friends </li>
      <% end %>
      <%= link_to active_rides_path do %>
      <li class="post-tab-profile-li" id="tab4" style="border-radius:0 3px 3px 0"> reviews </li>
      <% end %>
    </ul>
    <div>
    <br>

      <%= render '/components/about', profile: @profile , user: @user%>

  </div>
</div>
