<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      <%= @username %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>profile</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <% if current_user.id == User.find_by_username(params[:id]) %>
      <%= render '/components/post_form' %><br><br>
    <% end %>
    <% if current_user.friend_with? User.find_by_username(params[:id]) %>
      <% for @p in @posts %>
        <div class="panel panel-default post-panel">
          <div class="panel-body row">
            <div class="col-sm-1">
              <img src="/avatar.jpg" height="40px" width="40px">
            </div>
            <div class="col-sm-11">
              <p class="post-title"><span class="post-owner"><%= User.find(@p.user_id).username %></span><span class="post-creation"> - <%= @p.created_at.to_formatted_s(:short) %></span></p>
              <p class="post-content">From:  <%= @p.from %></p>
              <p class="post-content">To:  <%= @p.destination %></p>
              <p class="post-content">Date:  <%= @p.date %></p>
              <p class="post-content">Time:  <%= "#{@p.time.hour}:#{@p.time.min}"  %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>You have to be friend with <%= @username %> to see the rides!</p>
    <% end %>
    
  </div>
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <center>
           <%= render '/components/add_friend_button', :user => User.find_by_username(params[:id]) %>
        </center>
      </div>
    </div>
  </div>
</div>
