<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      <%= @username %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-12">
          <p class="post-title"><span class="post-owner"><%= current_user.username %></span></p>
          <p class="post-title"><span class="post-owner">Name: </span><br><%= @profile.name %></p>
          <p class="post-content"><span class="post-owner">Occupation: </span><br><%= @profile.occupation %></p>
          <p class="post-content"><span class="post-owner">From: </span><br><%= @profile.occupation_place %></p>
          <p class="post-content"><span class="post-owner">About Me: </span><br><%= @profile.description %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <% if current_user.id == User.find_by_username(params[:id]).id %>
      <%= render '/components/post_form' %><br><br>
    <% end %>
    <% if (current_user.friend_with? User.find_by_username(params[:id])) || (current_user.id == User.find_by_username(params[:id]).id) %>
      <%= render '/components/rides', posts: @posts  %>
    <% else %>
      <p>You have to be friend with <%= @username %> to see the rides!</p>
    <% end %>

  </div>
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <center>
           <%= render '/components/add_friend_button', :user => User.find_by_username(params[:id]) %>
        </center>
      </div>
    </div>
  </div>
</div>
