<div class="col-xs-12 col-sm-6 col-sm-offset-3 mpr mpl">
  <div class="panel panel-default">
    <div class="row">
      <div class="col-sm-12 panel-title">
        <h4> Ride Details</h4>
      </div>
    </div>

    <div class="panel-body">
      <div class="row" style="margin-bottom:15px;">
        <div class="col-xs-2">
          <%= image_tag @post.user.profile.avatar.url(:thumb), class: "avatar avatar-post img-rounded" %>
        </div>
        <div class="col-xs-10">
          <h4><%= @post.user.username %>'s ride offer<h4>
        </div>
      </div>
      <% if @post.reserved_by_user?(current_user.id) %>
      <% case @post.get_reserve_status_by_user(current_user.id)
      when 0 %> <div class="alert alert-danger" style="padding: 5px 0px 5px 10px;">
        <p>
        <!-- direct bookings -->
         <% if @post.indirect_bookings[0].nil? %>
           Waiting for
             <% if @post.user.id == current_user.id %>
               your approval check
                 <%= link_to notification_path, class: "alert-link" do %>
                   <b>notification </b>
                 <%end%>

             <% else %>
               driver's (<%= link_to user_profile_path(@post.user.username) do%><b><%= @post.user.username %></b><%end%>) approval
             <% end %></p>
         <% else %>
            <% if @post.indirect_bookings[0].user_id == current_user.id %>
              You haven't approve yourself in this ride. This ride created based on your ride request.
            <% else %>
              Waiting for driver's (<%= link_to user_profile_path(@post.user.username) do%><b><%= @post.user.username %></b><%end%>) approval
            <% end %>
         <% end %>

     </div>
      <% when 1 %> <div class="alert alert-success" style="padding: 5px 0px 5px 10px;"><p>You are in this ride. <%= @post.user.username %>'s phone <b>+62<%= @post.user.profile.phone %></b></p> </div>
      <%end%>
      <%end%>
      <div class="row lbbg" style="padding: 10px; margin-bottom:10px">
        <div class="col-xs-12" style="margin-bottom:10px;padding-left:0">
            <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> <b> Route Information</p></b>
        </div>
        <div class="row" style="margin-bottom:10px">
          <div class="col-sm-3 col-xs-5">
            <p> Pick-up point </p>
          </div>
          <div class="col-sm-9 col-xs-7">
            <p><b> <%= @post.from %> </b></p>
          </div>
        </div>
        <div class="row" style="margin-bottom:10px">
          <div class="col-sm-3 col-xs-5">
            <p> Drop-off point </p>
          </div>
          <div class="col-sm-9 col-xs-7">
            <p><b> <%= @post.destination %> </b></p>
          </div>
        </div>
        <div class="row" style="margin-bottom:10px">
        <div class="col-sm-3 col-xs-5">
          <p> Date </p>
        </div>
        <div class="col-sm-9 col-xs-7">
           <p><b><span class="post-date-time">
              <% if @post.date === Date.today %>
                <%= @post.date.strftime("Today, %-d %b") %>
              <% else %>
                <%= @post.date.strftime("%A, %-d %b") %>
              <% end %>
              - <%= @post.time.strftime("%H:%M")  %>
            </span></b></p>
        </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-xs-5">
            <p> Driver's note </p>
          </div>
          <div class="col-sm-9 col-xs-7">
            <p> <b><%= @post.note %> </b></p>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-6">
          <p> Seats Available </p>
          <h4><b> <%= @post.available_seats %> </b><small> out of <%= @post.quantity %></small> </h4>
        </div>
        <div class="col-xs-6">
          <p> Price per seat </p>
          <h4><small> IDR </small><b> <%= @post.price %> </b></h4>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 mpl mpr">

            <hr>
              <p> Passangers Information </p>
              <br>
              <table class="table table-striped">
                <tr>
                  <td>
                    <p><b>User</b></p>
                  </td>
                  <td>
                    <p><b>Status</b></p>
                  </td>
                </tr>
                <tr>
                  <td align="center" >
                    <%= image_tag @post.user.profile.avatar.url(:thumb), class: "avatar avatar-post img-rounded avatar-hover" %>
                  </td>
                  <td class="warning">
                    <p style="margin-top:10px"><b>Driver</b></p>
                  </td>
                </tr>
                <% if @post.reserved? %>
              <% for request in @post.reserved_requests %>
                <tr>
                  <td>
                    <%= link_to user_profile_path(request.user.username) do%>
                      <div align="center" data-toggle="tooltip" data-placement="top" title="<%= request.user.username %>">
                        <%= image_tag request.user.profile.avatar.url(:thumb), class: "avatar avatar-post img-rounded avatar-hover" %>
                      </div>
                    <% end %>
                  </td>
                    <% case @post.get_reserve_status_by_user(request.user.id)
                    when 0 %>
                    <td class="danger">
                      <div class="statm-show">
                        <p>

                           <!-- direct bookings -->
                            <% if @post.indirect_bookings[0].nil? %>
                              Waiting for
                                <% if @post.user.id == current_user.id %>
                                  your approval check
                                    <%= link_to notification_path, class: "alert-link" do %>
                                      <b>notification </b>
                                    <%end%>

                                <% else %>
                                  driver's (<%= link_to user_profile_path(@post.user.username) do%><b><%= @post.user.username %></b><%end%>) approval
                                <% end %></p>
                            <% else %>
                            <!-- indirect bookings -->
                                <% if @post.indirect_bookings[0].user_id == current_user.id && request.user.id == current_user.id %>
                                  This is your ride request. Check your
                                    <%= link_to notification_path, class: "alert-link" do %>
                                      <b>notification. </b>
                                    <%end%>
                                <% elsif @post.indirect_bookings[0].user_id == request.user.id %>
                                  This ride is <b><%= request.user.username %></b>'s ride request.
                                <% else %>
                                <% if @post.user.id == current_user.id %>
                                  Waiting for your approval check
                                    <%= link_to notification_path, class: "alert-link" do %>
                                      <b>notification </b>
                                    <%end%>

                                <% else %>
                                  Waiting for driver's (<%= link_to user_profile_path(@post.user.username) do%><b><%= @post.user.username %></b><%end%>) approval
                                <% end %></p>
                                <%end%>
                            <% end %>
                        </div>
                    <% when 1 %><td class="success"> <div class="statm-show"><p><%= request.user.username %>
                      <% if @post.user.id != current_user.id %>
                      has joined the ride
                      <% else %>
                      's phone <b>+62<%= request.user.profile.phone %></b>
                      <% end%></p> </div>
                    <% end %>




                  </td>
                </tr>
              <% end %>
          <% end %>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 mpl mpr">
          <hr>
          <% if @post.user != current_user %>
            <% if !@post.reserved_by_user?(current_user.id) %>
              <% if !current_user.profile.phone? %>
                <fieldset disabled>
                  <div class="col-xs-9" style="padding: 0 30px 0 0">
                    <p>You need to fill your phone number to join this ride <%= link_to 'Add Phone number', verification_profile_path(current_user.profile)%></p>
                  </div>
                  <div class="col-xs-3" style="padding-right:0;">
                    <%= submit_tag "Join this ride", class: "btn btn-accept", style: "float:right" %>
                  </div>
                <fieldset>
              <% else %>
                <%= form_for DirectBooking.new, url: direct_bookings_path do |f| %>
                  <%= f.hidden_field :user_id, value: current_user.id %></td>
                  <%= f.hidden_field :driver_post_id, value: @post.id %></td>
                  <%= submit_tag "Join this ride", class: "btn-accept", style: "float:right" %>
                <% end %>
              <% end %>
            <% else %>
            <% end %>
          <% elsif @post.user == current_user %>
            <span class="post-icon pull-right">
              <%= link_to @post, method: :delete, class: "btn-inverse", style: "text-decoration:none;padding: 5px 10px 5px 10px" do %>
                Delete Ride
              <% end %>
            </span>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
