<%= form_for(:user, :url => session_path(:user)) do |f| %>
<!-- CSS $ javascript edited in this components-->
<!--  1. input-group .form-control:last-child
      2. form-control-index
      3. btn-primary-index
    -->
<h4> Email </h4>
  <div class="input-group input-group-md">
    <%= f.email_field :email, autofocus: true , class: "form-control form-control-index", aria_describedby: "sizing-addon2", placeholder: "Email address", style: "font-size: 15px; width:250px; border-radius:5px"%>
  </div>

<h4> Password </h4>
  <div class="input-group input-group-md">
    <%= f.password_field :password, autocomplete: "off", class: "form-control form-control-index", aria_describedby: "sizing-addon2", placeholder: "Password", style: "font-size: 15px; width:250px; border-radius:5px"%>
  </div>

  <div class="field" style="margin-bottom:10px ;font-size: 14px" >
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
  </div>

  <div style="margin-bottom:25px">
    <%= f.submit "Log In", class: "btn-primary btn-primary-index"%>
  </div>
<% end %>
