<div class="col-xs-12 col-sm-6 col-sm-offset-3 mpr mpl">
  <div class="panel panel-default">
    <div class="row">
      <div class="col-sm-12 panel-title">
        <h4> Ride Details</h4>
      </div>
    </div>

    <div class="panel-body">
      <div class="row" style="margin-bottom:15px;">
        <div class="col-xs-2">
          <%= image_tag @post.user.profile.avatar.url(:thumb), class: "avatar avatar-post img-rounded" %>
        </div>
        <div class="col-xs-10">
          <h4><%= @post.user.username %>'s ride request<h4>
        </div>
      </div>
      <div class="row lgbg" style="padding: 10px">
        <div class="col-sm-3">
          <p> Pick-up point </p>
        </div>
        <div class="col-sm-9">
          <p> <%= @post.from %> </p>
        </div>
        <div class="col-sm-3">
          <p> Drop-off point </p>
        </div>
        <div class="col-sm-9">
          <p> <%= @post.destination %> </p>
        </div>
        <div class="col-sm-3">
          <p> Date </p>
        </div>
        <div class="col-sm-9">
           <p><span class="post-date-time">
              <% if @post.date === Date.today %>
                <%= @post.date.strftime("Today, %-d %b") %>
              <% else %>
                <%= @post.date.strftime("%A, %-d %b") %>
              <% end %>
              - <%= @post.time.strftime("%H:%M")  %>
            </span></p>
        </div>
      </div>
    </div>
  </div>
</div>
